.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 191px;
}

.hero-content {
    max-width: 500px;
    max-width: 50%;
    flex: 1;
}

.hero-content h3 {
    font-size: 36px;
    color: #374B5C;
}

.hero-content h1 {
    font-size: 56px;
    color: #374B5C;
}

.hero-content p {
    font-size: 20px;
    color: #374B5C;
    margin-top: 13px;
    max-width: 500px;
}

.hero-content button {
    background-color: #FF9100;
    color: #fff;
    padding: 18px 48px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 38px;
}

.hero-images {
    position: relative;
    display: inline-block;
    transform: translateX(-200px);
}

.image-back {
    display: block;
}

.image-front {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 200px;
}

.hero-images img {
    max-width: 392px;
}

