.subscribe-form {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.subscribe-form form {
    position: relative;
}

.subscribe-form>img {
    margin-bottom: 132px;
}

.subscribe-form h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #374B5C;
}

.subscribe-form p {
    margin-bottom: 76px;
    font-size: 16px;
    max-width: 518px;
    color: #374B5C;
}

.subscribe-form form input {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 18px;
    width: 230px;
    height: 22px;
    padding: 23px 125px;
    padding-right: 195px;
    left: 0;
    border: none;
    text-align: left;
    background-color: #F6F5F1;
    border-radius: 30px;
}

.subscribe-form form button {
    padding: 23px 37px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: #FF9100;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 18px;
}

.subscribe>img {
    float: right;
    transform: translate(400px,-220px);
}